<!DOCTYPE html>
<html>
  <head>
     <title>Ruby on Rails Tutorial Sample App | Contact</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      contac Ruby on Rails Tutorial about the sample ap at the
      <a href="http://railstutorial.org/feedback">feedback page</a>.
    </p>
  </body>
</html>

